/*fonts*/

@font-face {
  font-family: "Cuprum";
  src: url("fonts/cuprum.woff2") format("woff2"),
       url("fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Italic";
  src: url("fonts/cuprumitalic.woff2") format("woff2"),
       url("fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum Bold";
  src: url("fonts/cuprumbold.woff2") format("woff2"),
       url("fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Bold Italic";
  src: url("fonts/cuprumbolditalic.woff2") format("woff2"),
       url("fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/ptsans.woff2") format("woff2"),
       url("fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("fonts/ptsansbold.woff2") format("woff2"),
       url("fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*sprites*/

.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket-icon {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-bookmark-icon {
    width: 14px;
    height: 16px;
    background-position: -47px -10px;
}

.sprite-fb-focus-icon {
    width: 42px;
    height: 42px;
    background-position: -81px -10px;
}

.sprite-fb-icon {
    width: 42px;
    height: 42px;
    background-position: -143px -10px;
}

.sprite-inst-focus-icon {
    width: 42px;
    height: 42px;
    background-position: -205px -10px;
}

.sprite-inst-icon {
    width: 42px;
    height: 42px;
    background-position: -267px -10px;
}

.sprite-instagram-icon {
    width: 17px;
    height: 17px;
    background-position: -329px -10px;
}

.sprite-login-focus-icon {
    width: 20px;
    height: 17px;
    background-position: -366px -10px;
}

.sprite-login-icon {
    width: 20px;
    height: 17px;
    background-position: -406px -10px;
}

.sprite-logout-focus-icon {
    width: 21px;
    height: 17px;
    background-position: -446px -10px;
}

.sprite-logout-icon {
    width: 21px;
    height: 17px;
    background-position: -487px -10px;
}

.sprite-phone-icon {
    width: 19px;
    height: 19px;
    background-position: -528px -10px;
}

.sprite-search-active-icon {
    width: 17px;
    height: 17px;
    background-position: -567px -10px;
}

.sprite-search-icon {
    width: 17px;
    height: 17px;
    background-position: -604px -10px;
}

.sprite-user-focus-icon {
    width: 20px;
    height: 18px;
    background-position: -641px -10px;
}

.sprite-user-icon {
    width: 20px;
    height: 18px;
    background-position: -681px -10px;
}

.sprite-vk-focus-icon {
    width: 41px;
    height: 42px;
    background-position: -721px -10px;
}

.sprite-vk-icon {
    width: 41px;
    height: 42px;
    background-position: -782px -10px;
}

/*index.html*/

body {
  min-width: 1200px;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 1;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
  background-color: #f1f5f7;
}

.upper-nav {
  margin-bottom: 46px;
  background-color: #293449;
}

.upper-nav .logo {
  position: relative;
  float: left;
  padding: 11px 55px 7px 55px;
  width: 110px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ee3643;
}

.upper-nav .logo::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #b52933;
}

.upper-nav .logo:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.upper-nav .logo:active {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.upper-nav .search {
  float: left;
}

.upper-nav .search input[type="text"] {
  padding: 11px 0 11px 48px;
  width: 270px;
  box-sizing: border-box;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: normal;
  color: #fff;
  background-color: #293449;
  background-image: url(images/sprites/search-inactive-icon.png);
  background-repeat: no-repeat;
  background-position: 18px 12px;
  border: none;
  outline: none;
}

.upper-nav .search input[type="text"]:hover {
  background-color: #212a3a;
  background-image: url(images/sprites/search-icon.png)
}

.upper-nav .search input[type="text"]:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: url(images/sprites/search-active-icon.png);
}

.upper-nav .search input::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
.upper-nav .search input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.upper-nav .search input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.upper-nav .search input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}

.upper-nav .search input:focus::-webkit-input-placeholder { /* Chrome */
  color: #000;
}

.upper-nav .search input:focus:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.upper-nav .search input:focus::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
.upper-nav .search input:focus:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000;
  opacity: 1;
}

.upper-nav ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.upper-nav ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: -3px;
}

.upper-nav ul li:nth-child(1)::before {
  background-position: -10px -9px;
}

.upper-nav ul a {
  display: block;
  font: inherit;
  vertical-align: middle;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
}

.upper-nav ul li:nth-child(1) a {
  padding-left: 44px;
  padding-right: 29px;
}

.upper-nav ul li:nth-child(2) a {
  padding-left: 47px;
  padding-right: 29px;
}

.upper-nav ul li:nth-child(3) a {
  padding-left: 20px;
  padding-right: 22px;
  border-right: 0;
}

.upper-nav ul li:nth-child(1) {
  background: url("images/sprites/bookmark-inactive-icon.png") no-repeat 17px 12px;
}

.upper-nav ul li:nth-child(2) {
  background: url("images/sprites/basket-inactive-icon.png") no-repeat 14px 12px;
}

.upper-nav ul li:nth-child(3) {
  background-color: #63a63e;
}

.upper-nav ul li:nth-child(1):hover {
  background: url("images/sprites/bookmark-focus-icon.png") no-repeat 17px 12px #212a3a;
}

.upper-nav ul li:nth-child(2):hover {
  background: url("images/sprites/basket-focus-icon.png") no-repeat 14px 12px #212a3a;
}

.upper-nav ul li:nth-child(3):hover {
  background-color: #5fbb2d;
}

.upper-nav ul li:nth-child(1):active {
  background: url("images/sprites/bookmark-active-icon.png") no-repeat 17px 12px #161d29;
}

.upper-nav ul li:nth-child(2):active {
  background: url("images/sprites/basket-active-icon.png") no-repeat 14px 12px #161d29;
}

.upper-nav ul li:nth-child(3):active {
  background-color: #518534;
}

.upper-nav ul li:nth-child(1):active a {
  opacity: 0.6;
}

.upper-nav ul li:nth-child(2):active a {
  opacity: 0.6;
}

.upper-nav ul li:nth-child(3):active a {
  opacity: 0.5;
}

.header-info .container {
  outline: 1px dashed #000;
}

.header-info .shop-info {
  float: left;
  padding-top: 3px;
  margin-left: 53px;
  font-family: "Cuprum Italic";
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  outline: 1px dashed red;
}

.header-info .shop-address {
  float: left;
  margin-left: 71px;
}

.header-info .shop-address .phone {

}

.header-info .user-block {
  float: left;
}
