/*fonts*/

@font-face {
  font-family: "Cuprum";
  src: url("fonts/cuprum.woff2") format("woff2"),
       url("fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Italic";
  src: url("fonts/cuprumitalic.woff2") format("woff2"),
       url("fonts/cuprumitalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum Bold";
  src: url("fonts/cuprumbold.woff2") format("woff2"),
       url("fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Bold Italic";
  src: url("fonts/cuprumbolditalic.woff2") format("woff2"),
       url("fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/ptsans.woff2") format("woff2"),
       url("fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("fonts/ptsansbold.woff2") format("woff2"),
       url("fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*sprites*/

.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket-icon {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-bookmark-icon {
    width: 14px;
    height: 16px;
    background-position: -47px -10px;
}

.sprite-fb-focus-icon {
    width: 42px;
    height: 42px;
    background-position: -81px -10px;
}

.sprite-fb-icon {
    width: 42px;
    height: 42px;
    background-position: -143px -10px;
}

.sprite-inst-focus-icon {
    width: 42px;
    height: 42px;
    background-position: -205px -10px;
}

.sprite-inst-icon {
    width: 42px;
    height: 42px;
    background-position: -267px -10px;
}

.sprite-instagram-icon {
    width: 17px;
    height: 17px;
    background-position: -329px -10px;
}

.sprite-login-focus-icon {
    width: 20px;
    height: 17px;
    background-position: -366px -10px;
}

.sprite-login-icon {
    width: 20px;
    height: 17px;
    background-position: -406px -10px;
}

.sprite-logout-focus-icon {
    width: 21px;
    height: 17px;
    background-position: -446px -10px;
}

.sprite-logout-icon {
    width: 21px;
    height: 17px;
    background-position: -487px -10px;
}

.sprite-phone-icon {
    width: 19px;
    height: 19px;
    background-position: -528px -10px;
}

.sprite-search-active-icon {
    width: 17px;
    height: 17px;
    background-position: -567px -10px;
}

.sprite-search-icon {
    width: 17px;
    height: 17px;
    background-position: -604px -10px;
}

.sprite-user-focus-icon {
    width: 20px;
    height: 18px;
    background-position: -641px -10px;
}

.sprite-user-icon {
    width: 20px;
    height: 18px;
    background-position: -681px -10px;
}

.sprite-vk-focus-icon {
    width: 41px;
    height: 42px;
    background-position: -721px -10px;
}

.sprite-vk-icon {
    width: 41px;
    height: 42px;
    background-position: -782px -10px;
}

/*index.html*/

body {
  min-width: 1200px;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 1;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.button {
  display: block;
  width: 195px;
  height: 38px;
  background-color: #ee3643;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.main-header {
  margin-bottom: 59px;
  padding-bottom: 60px;
  background-color: #f1f5f7;
}

.upper-nav {
  margin-bottom: 46px;
  background-color: #293449;
}

.upper-nav .logo {
  position: relative;
  float: left;
  padding: 11px 55px 7px 55px;
  width: 110px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ee3643;
}

.upper-nav .logo::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #b52933;
}

.upper-nav .logo:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.upper-nav .logo:active {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.upper-nav .search {
  float: left;
}

.upper-nav .search input[type="text"] {
  padding: 11px 0 11px 48px;
  width: 270px;
  box-sizing: border-box;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: normal;
  color: #fff;
  background-color: #293449;
  background-image: url(images/sprites/search-inactive-icon.png);
  background-repeat: no-repeat;
  background-position: 18px 12px;
  border: none;
  outline: none;
}

.upper-nav .search input[type="text"]:hover {
  background-color: #212a3a;
  background-image: url(images/sprites/search-icon.png)
}

.upper-nav .search input[type="text"]:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: url(images/sprites/search-active-icon.png);
}

.upper-nav .search input::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
.upper-nav .search input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.upper-nav .search input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.upper-nav .search input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}

.upper-nav .search input:focus::-webkit-input-placeholder { /* Chrome */
  color: #000;
}

.upper-nav .search input:focus:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.upper-nav .search input:focus::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
.upper-nav .search input:focus:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000;
  opacity: 1;
}

.upper-nav ul {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.upper-nav ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: -3px;
}

.upper-nav ul li:nth-child(1)::before {
  background-position: -10px -9px;
}

.upper-nav ul a {
  display: block;
  font: inherit;
  vertical-align: middle;
  line-height: 42px;
  color: #fff;
  text-decoration: none;
}

.upper-nav ul li:nth-child(1) a {
  padding-left: 44px;
  padding-right: 29px;
}

.upper-nav ul li:nth-child(2) a {
  padding-left: 47px;
  padding-right: 29px;
}

.upper-nav ul li:nth-child(3) a {
  padding-left: 20px;
  padding-right: 22px;
  border-right: 0;
}

.upper-nav ul li:nth-child(1) {
  background: url("images/sprites/bookmark-inactive-icon.png") no-repeat 17px 12px;
}

.upper-nav ul li:nth-child(2) {
  background: url("images/sprites/basket-inactive-icon.png") no-repeat 14px 12px;
}

.upper-nav ul li:nth-child(3) {
  background-color: #63a63e;
}

.upper-nav ul li:nth-child(1):hover {
  background: url("images/sprites/bookmark-focus-icon.png") no-repeat 17px 12px #212a3a;
}

.upper-nav ul li:nth-child(2):hover {
  background: url("images/sprites/basket-focus-icon.png") no-repeat 14px 12px #212a3a;
}

.upper-nav ul li:nth-child(3):hover {
  background-color: #5fbb2d;
}

.upper-nav ul li:nth-child(1):active {
  background: url("images/sprites/bookmark-active-icon.png") no-repeat 17px 12px #161d29;
}

.upper-nav ul li:nth-child(2):active {
  background: url("images/sprites/basket-active-icon.png") no-repeat 14px 12px #161d29;
}

.upper-nav ul li:nth-child(3):active {
  background-color: #518534;
}

.upper-nav ul li:nth-child(1):active a {
  opacity: 0.6;
}

.upper-nav ul li:nth-child(2):active a {
  opacity: 0.6;
}

.upper-nav ul li:nth-child(3):active a {
  opacity: 0.5;
}

.header-info .container {
  margin-bottom: 39px;
}

.header-info .shop-info {
  float: left;
  padding-top: 3px;
  margin-left: 53px;
  font-family: "Cuprum Italic";
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-info .shop-address {
  float: left;
  margin-left: 71px;
}

.header-info .shop-address a {
  text-decoration: none;
}

.header-info .shop-address .phone {
  box-sizing: border-box;
  width: 270px;
  min-height: 39px;
  padding-left: 71px;
  border: 3px solid #fff;
  background: url("images/sprites/phone-icon.png") no-repeat 12px 10px;
  font-size: 21px;
  line-height: 39px;
  vertical-align: middle;
  color: #e9292a;
}

.header-info .shop-address .address {
  margin-top: 4px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-info .user-block {
  float: left;
  margin-left: 69px;
}

.header-info .user-block a {
  display: inline-block;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 45px;
  min-height: 45px;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
  background-color: #fff;
}

.header-info .user-block a:first-child {
  width: 120px;
  padding-left: 47px;
  margin-right: 6px;
  background-image: url("images/sprites/login-icon.png");
  background-repeat: no-repeat;
  background-position: 14px 14px;
}

.header-info .user-block a:last-child {
  width: 149px;
  padding-left: 24px;
  margin-right: -1px;
}

.header-info .user-block a:hover {
  color: #ee3643;
}

.header-info .user-block a:first-child:hover {
  background-image: url("images/sprites/login-focus-icon.png");
}

.header-info .user-block a:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-info .user-block a:first-child:active {
  background-image: url("images/sprites/login-icon.png");
}

.header-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #32425c;
}

.header-nav li {
  display: inline-block;
  margin-right: -5px;
  vertical-align: top;
}

.header-nav a {
  display: block;
  padding: 20px 31px 19px 30px;
  vertical-align: middle;
  font: inherit;
  color: #fff;
  text-decoration: none;
  border-bottom: 5px solid #293449;
}

.header-nav li:nth-child(1) a {
  padding-left: 52px;
  padding-right: 36px;
}

.header-nav li:last-child a {
  padding-left: 30px;
  padding-right: 54px;
}

_:-ms-lang(x), .header-nav li:last-child a {
  padding-right: 52px;
}

.header-nav a:hover {
  background-color: #293449;
}

.header-nav a:active {
  background-color: #1d2739;
}

.products {
  margin-bottom: 53px;
}

.products .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  position: relative;
  margin-bottom: 20px;
  width: 300px;
  height: 123px;
}

.product-item:nth-child(1) {
  background: url(images/item-1.png) no-repeat 213px 31px #f6b22d;
}

.product-item:nth-child(1)::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 60px;
  height: 59px;
  background: url("images/new.png") no-repeat 0 0;
}

.product-item:nth-child(2) {
  background: url(images/item-2.png) no-repeat 197px 32px #4aafde;
}

.product-item:nth-child(3) {
  background: url(images/item-3.png) no-repeat 191px 31px #cc79d1;
}

.flex-item .product-item:nth-child(1) {
  background: url(images/item-4.png) no-repeat 196px 26px #85d179;
}

.flex-item .product-item:nth-child(2) {
  background: url(images/item-5.png) no-repeat 191px 32px #f6b22d;
}

.flex-item .product-item:nth-child(1)::after {
  background: none;
}

.product-item .button {
  margin-left: 25px;
  width: 135px;
}

.product-item:nth-child(1) .button {
  background-color: #dda028;
}

.product-item:nth-child(1) .button:hover {
  background-color: #c58e24;
}

.product-item:nth-child(1) .button:active {
  background-color: #ac7c1f;
}

.product-item:nth-child(2) .button {
  background-color: #429dc7;
}

.product-item:nth-child(2) .button:hover {
  background-color: #3b8cb2;
}

.product-item:nth-child(2) .button:active {
  background-color: #347a9b;
}

.product-item:nth-child(3) .button {
  margin-left: 23px;
  background-color: #b76dbc;
}

.product-item:nth-child(3) .button:hover {
  background-color: #a361a7;
}

.product-item:nth-child(3) .button:active {
  background-color: #8e5492;
}

.flex-item .product-item:nth-child(1) .button {
  margin-left: 23px;
  background-color: #77bc6d;
}

.flex-item .product-item:nth-child(1) .button:hover {
  background-color: #6aa761;
}

.flex-item .product-item:nth-child(1) .button:active {
  background-color: #5d9254;
}

.flex-item .product-item:nth-child(2) .button {
  margin-left: 23px;
  background-color: #dda028;
}

.flex-item .product-item:nth-child(2) .button:hover {
  background-color: #c58e24;
}

.flex-item .product-item:nth-child(2) .button:active {
  background-color: #ac7c1f;
}

.product-item h3 {
  margin: 0;
  padding-top: 21px;
  padding-left: 22px;
  padding-bottom: 12px;
  font-family: "Cuprum Bold";
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #fff;
}

.product-slider {
  position: relative;
  width: 620px;
  height: 266px;
}

.slider-content .slide:nth-child(2) {
  display: none;
}

.slider-content .slide img {
  width: 100%;
}

.slider-content .slide h3,
.slider-content .slide p {
  margin: 0;
  padding: 0;
  position: absolute;
  color: #fff;
}

.slider-content .slide h3 {
  top: 26px;
  left: 25px;
  font-family: "Cuprum Bold";
  font-size: 36px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
}

.slider-content .slide p {
  top: 60px;
  left: 26px;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.slider-content .button {
  position: absolute;
  left: 25px;
  bottom: 22px;
}

.slider-controls .arrows {
  cursor: pointer;
}

.slider-controls .prev-arrow {
  position: absolute;
  top: 114px;
  left: 25px;
}

.slider-controls .next-arrow {
  position: absolute;
  top: 114px;
  right: 25px;
}

.slider-controls .dots {
  position: absolute;
  bottom: 34px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 10px;
}

.slider-controls .dots i {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: top;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .dots i:first-child {
  margin-right: 5px;
}

.slider-controls .dots .active {
  background-color: #ee3643;
}


.popular {

}
