/*fonts*/

@font-face {
  font-family: "Cuprum";
  src: url("fonts/cuprum.woff2") format("woff2"),
       url("fonts/cuprum.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Bold";
  src: url("fonts/cuprumbold.woff2") format("woff2"),
       url("fonts/cuprumbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Bold Italic";
  src: url("fonts/cuprumbolditalic.woff2") format("woff2"),
       url("fonts/cuprumbolditalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url("fonts/ptsans.woff2") format("woff2"),
       url("fonts/ptsans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("fonts/ptsansbold.woff2") format("woff2"),
       url("fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*sprites*/

.sprite {
    background-image: url(images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-basket-icon {
    width: 17px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-bookmark-icon {
    width: 14px;
    height: 16px;
    background-position: -47px -10px;
}

.sprite-fb-focus-icon {
    width: 42px;
    height: 42px;
    background-position: -81px -10px;
}

.sprite-fb-icon {
    width: 42px;
    height: 42px;
    background-position: -143px -10px;
}

.sprite-inst-focus-icon {
    width: 42px;
    height: 42px;
    background-position: -205px -10px;
}

.sprite-inst-icon {
    width: 42px;
    height: 42px;
    background-position: -267px -10px;
}

.sprite-instagram-icon {
    width: 17px;
    height: 17px;
    background-position: -329px -10px;
}

.sprite-login-focus-icon {
    width: 20px;
    height: 17px;
    background-position: -366px -10px;
}

.sprite-login-icon {
    width: 20px;
    height: 17px;
    background-position: -406px -10px;
}

.sprite-logout-focus-icon {
    width: 21px;
    height: 17px;
    background-position: -446px -10px;
}

.sprite-logout-icon {
    width: 21px;
    height: 17px;
    background-position: -487px -10px;
}

.sprite-phone-icon {
    width: 19px;
    height: 19px;
    background-position: -528px -10px;
}

.sprite-search-active-icon {
    width: 17px;
    height: 17px;
    background-position: -567px -10px;
}

.sprite-search-icon {
    width: 17px;
    height: 17px;
    background-position: -604px -10px;
}

.sprite-user-focus-icon {
    width: 20px;
    height: 18px;
    background-position: -641px -10px;
}

.sprite-user-icon {
    width: 20px;
    height: 18px;
    background-position: -681px -10px;
}

.sprite-vk-focus-icon {
    width: 41px;
    height: 42px;
    background-position: -721px -10px;
}

.sprite-vk-icon {
    width: 41px;
    height: 42px;
    background-position: -782px -10px;
}

/*index.html*/

body {
  min-width: 1200px;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 1;
  font-weight: normal;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
  outline: 1px dashed black;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
  background-color: #f1f5f7;
}

.upper-navigation {
  background-color: #293449;
}

.upper-navigation .logo {
  position: relative;
  float: left;
  padding: 11px 55px 7px 55px;
  width: 110px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ee3643;
  /*border-bottom: 4px solid #b52933;*/
}

.upper-navigation .logo::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: #b52933;
}

.upper-navigation .logo:hover {
  background-color: #ca2c37;
  border-color: #9a212a;
}

.upper-navigation .logo:active {
  background-color: #ba2732;
  border-color: #8e1e26;
}

.upper-navigation .search {
  float: left;
}

.upper-navigation .search input[type="text"] {
  padding: 11px 0 10px 48px;
  width: 270px;
  box-sizing: border-box;
  font-family: "Cuprum", sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: normal;
  color: #fff;
  background-color: #293449;
  background-image: url(images/sprites/search-inactive-icon.png);
  background-repeat: no-repeat;
  background-position: 18px 12px;
  border: none;
  outline: none;
}

.upper-navigation .search input[type="text"]:hover {
  background-color: #212a3a;
  background-image: url(images/sprites/search-icon.png)
}

.upper-navigation .search input[type="text"]:focus {
  color: #000000;
  background-color: #ffffff;
  background-image: url(images/sprites/search-active-icon.png);
}

.upper-navigation .search input::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
.upper-navigation .search input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.upper-navigation .search input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.upper-navigation .search input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}

.upper-navigation .search input:focus::-webkit-input-placeholder { /* Chrome */
  color: #000;
}

.upper-navigation .search input:focus:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.upper-navigation .search input:focus::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  opacity: 1;
}
.upper-navigation .search input:focus:-moz-placeholder { /* Firefox 4 - 18 */
  color: #000;
  opacity: 1;
}

.upper-navigation ul {
  float: right;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px solid red;
}

.upper-navigation ul li {
  display: inline-block;
  vertical-align: top;
}

.upper-navigation ul a {
  display: block;
  padding: 11px 0 10px 0;
  font: inherit;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid red;
}
