.sprite-icon-button {
    width: 8px;
    height: 8px;
    background-position: -5px -5px;
}

.sprite-icon-checkbox {
    width: 12px;
    height: 12px;
    background-position: -23px -5px;
}

.sprite-icon-fb {
    width: 12px;
    height: 22px;
    background-position: -45px -5px;
}

.sprite-icon-fb-active {
    width: 12px;
    height: 22px;
    background-position: -67px -5px;
}

.sprite-icon-inst {
    width: 21px;
    height: 21px;
    background-position: -89px -5px;
}

.sprite-icon-inst-active {
    width: 21px;
    height: 21px;
    background-position: -120px -5px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -151px -5px;
}

.sprite-icon-vk {
    width: 25px;
    height: 16px;
    background-position: -179px -5px;
}

.sprite-icon-vk-active {
    width: 25px;
    height: 16px;
    background-position: -214px -5px;
}
