body {
	margin: 0;
	padding: 0;
	min-width: 960px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffff;
	background: #242424 url("img/background.jpg") no-repeat center top;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.container {
	margin: 0 auto;
	padding: 0 10px;
	width: 940px;
}

.main-header {
	color: #ffffff;
	background-color: #000000;
}

.main-navigation {
	float: left;
	width: 780px;
	height: 70px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation li {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
}

.main-navigation a {
	padding: 25px 20px;
	display: block;
	color: #ffffff;
	text-decoration: none;
}

.main-navigation a:hover {
	background-color: #242424;
}

.main-navigation .active a {
	position: relative;
}

.main-navigation .active a:hover {
	background: none;
}

.main-navigation .active a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	height: 5px;
	background: #ffffff;
}

.user-block {
	float: right;
	max-width: 140px;
}

.login {
	position: relative;
	padding: 25px 20px;
	padding-left: 50px;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	color: #ffffff;
}

.login:hover {
	background: #242424;
}

.login:before {
	display: block;
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 18px;
	background-image: url("img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -151px -5px;
    opacity: 0.5;
}

.login:hover:before {
	opacity: 1;
}

.logo {
	margin: 60px auto 0px;
	width: 368px;
	height: 204px;
}

.features-row {
	margin-top: 25px;
	margin-bottom: 80px;
}

.features-item {
	margin-right: 20px;
	float: left;
	width: 300px;
	text-align: center;
}

.features-item:last-child {
	margin-right: 0;
}

.features-item h2 {
	position: relative;
	padding-bottom: 50px;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 42px;
}

.features-item h2:after {
	content: "";
	position: absolute;
	left: 135px;
	bottom: 0;
	display: block;
	width: 20px;
	height: 20px;
	background: #ffffff;
	transform: rotate(45deg);
}

.content {
	margin-bottom: 35px;
	padding: 55px 80px;
	color: #000000;
	background: url("img/content-shadow.png") no-repeat center, 
	#f8f5f2 url("img/content-pattern.jpg");
}

.content-column-left {
	float: left;
	width: 350px;
}

.content-column-right {
	float: right;
	width: 300px;
}

.content-column-title {
	margin: 0;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 42px;
}

.news-block {
	margin: 0;
	padding: 0;
	list-style: none;
}

.news-block li {
	margin-bottom: 25px;
}

.news-block time {
	font-weight: normal;
	text-transform: none;
}

.btn {
	padding: 10px 33px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: top;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	background: #000000;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn:hover,
.btn:active {
	background-color: #663d15;
}

.btn:disabled {
	cursor: default;
	opacity: 0.5;
}

.btn:disabled:hover {
	background: #000000;
}

.gallery {
	position: relative;
	height: 265px;
}

.gallery-content {
	margin: 0;
	height: 164px;
	border: 7px solid white;
	background: #ccc;
}

.gallery-content img {
	width: 286px;
	height: 164px;
}

.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140px;
	margin: 0;
}

.gallery-go-back {
	left: 0;
}

.gallery-go-ahead {
	right: 0;
}

.content p {
	margin: 0;
	margin-bottom: 25px;
}

.contacts-btn {
	margin-top: 42px;
}

.appointment-form input {
	padding: 10px 15px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 106px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	background: #f9f6f3;
	outline: none;
	border: 2px solid #000000;
}

.appointment-form input:focus {
	border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
	margin-right: 0;
}

.appointment-form button {
	width: 100%;
}

.main-footer {
	margin-top: 60px;
	padding-top: 60px;
	padding-bottom: 60px;
	color: #ffffff;
	background: #252525 url("img/footer-pattern.jpg");
}

.footer-address {
	float: left;
	width: 320px;
	margin-right: 80px;
}

.footer-address a {
	color: #ffffff;
}

.footer-address a:hover {
	text-decoration: none;
}

.social {
	float: left;
	text-align: center;
}

.social p {
	margin-bottom: 15px;
}

.social-btn {
	margin: 0 2px;
	display: inline-block;
	vertical-align: top;
	width: 43px;
	height: 43px;
	font-size: 0;
	text-decoration: none;
	background: #000 url("img/spritesheet.png") no-repeat;
}

.social-btn:hover {
	background-color: #ffffff;
}

.social-vk {
	background-position: -170px 10px;
}

.social-fb {
	background-position: -29px 5px;
}

.social-inst {
	background-position: -77px 6px;
}

.social-vk:hover {
	background-position: -205px 10px;
}

.social-fb:hover {
	background-position: -51px 5px;
}

.social-inst:hover {
	background-position: -108px 6px;
}

.copyright {
	float: right;
	max-width: 320px;
}

.copyright p {
	margin-bottom: 15px;
	text-align: center;
}

.copyright .btn {
	margin-right: 0;
}

.copyright .btn:hover {
	color: #000000;
	background: #ffffff;
}

.modal-content {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	width: 300px;
	margin-top: 150px;
	margin-left: -230px;
	padding: 50px 80px;
	color: #000000;
	background: #f8f5f2 url("img/content-pattern.jpg");
}

.modal-content-close {
	position: absolute;
	top: 0;
	right: -50px;
	width: 40px;
	height: 40px;
	font-size: 0;
	background: url(img/modal-content-close.png) no-repeat center;
	opacity: 0.5;
}

.modal-content-close:hover {
	cursor: pointer;
	opacity: 1;
}

.modal-content-title h1 {
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}

.login-form {
	margin-top: 25px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	margin-bottom: 10px;
	padding: 10px 15px;
	padding-right: 40px;
	width: 241px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	border: 2px solid #000000;
	outline: none;
	background: #f9f6f3;
}

.login-form input.icon-user {
  	background-image: url("img/spritesheet2.png");
  	background-repeat: no-repeat;
  	background-position: 260px -33px;
}

.login-form input.icon-password {
	background-image: url("img/spritesheet2.png");
  	background-repeat: no-repeat;
  	background-position: 260px 0px;
}	

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
	border-color: #663d15; 
}

.login-form input[type="checkbox"] {
	display: none;
}

.login-form input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  cursor: pointer;
  vertical-align: top;
}


.login-form input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000;
}

.login-form input[type="checkbox"] + label:hover {
  color: #663d15;
}

.login-form input[type="checkbox"]:checked + label:before {
  background: url("img/spritesheet.png") no-repeat;
  background-position: -20px -2px;
}

.login-form .restore {
	float: right;
	color: #000000;
}

.modal-content .btn {
	margin-top: 18px;
	width: 100%;
}

/*price.html*/

.inner-page {
	color: #000000;
	background: #f8f5f2 url("img/content-pattern.jpg");
}

.inner-page .main-header {
	margin-bottom: 55px;
}

.inner-page-title h1 {
	font-size: 30px;
	line-height: 42px;
	margin-bottom: 20px;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 55px;
}

.breadcrumbs li {
	margin-right: 15px;
	display: inline-block;
	vertical-align: top;
}

.breadcrumbs li:nth-child(1),
.shop-page .breadcrumbs li:nth-child(2) {
	position: relative;
	padding-right: 25px;
}

.breadcrumbs li:nth-child(1):before,
.shop-page .breadcrumbs li:nth-child(2):before {
	position: absolute;
	display: block;
	content: "";
	width: 8px;
	height: 8px;
	right: 0;
	bottom: 8px;
	background: #000000;
	transform: rotate(45deg);
}

.breadcrumbs a {
	color: #000000;
	text-decoration: none;
}

.breadcrumbs .current {
	opacity: 0.5;
}

.breadcrumbs .current:hover {
	cursor: pointer;
}

.shop-page .breadcrumbs li:nth-child(2):hover {
	cursor: pointer;
}

.inner-content .big-heading {
	position: relative;
}

.inner-content .big-heading:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 17px;
	display: block;
	width: 160px;
	height: 2px;
	background: #000000;
}

.inner-content .big-heading:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 17px;
	display: block;
	width: 160px;
	height: 2px;
	background: #000000;
}

.inner-content .big-heading h2 {
	margin-left: 186px; 
	font-size: 48px;
	line-height: 42px;
	margin-bottom: 70px;
}

.inner-content-columns h2 {
	margin-bottom: 25px;
	font-size: 24px;
	line-height: 30px;
}

.inner-content-column-left {
	float: left;
	margin-bottom: 65px;
}

.custom-list {
	margin: 0;
	padding: 0;
	padding-left: 20px;
	list-style: none;
}

.custom-list li {
	position: relative;
	margin-bottom: 15px;
}

.custom-list li:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	left: -20px;
	bottom: 8px;
	background: #000000;
	transform: rotate(45deg);
}

.inner-content-column-right {
	float: right;
	margin-bottom: 65px;
}

.inner-content-column-right h2 {
	margin-right: 285px;
}

.prices-table {
	min-width: 460px;
	min-height: 125px;
	border: 2px solid #000000;
	border-collapse: collapse;
}

.prices-table tr {
	border-bottom: 2px solid #000000;
}

.prices-table td {
	padding-left: 15px;
	border-right: 2px solid #000000;
}

.prices-table td:nth-child(2n) {
	padding-left: 100px;
}

.inner-content-columns:last-child h2 {
	margin-bottom: 10px;
}

.inner-page .main-footer {
	margin-top: 0;
}

/*shop.html*/

.shop-page .breadcrumbs {
	margin-bottom: 47px;
}

.shop-column-left {
	float: left;
}

.shop-column-title {
	margin-bottom: 27px;
	font-size: 24px;
	line-height: 42px;
}

.producers-form input[type="checkbox"] {
	display: none;
}

.producers-form input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	margin-bottom: 17px;
	padding-left: 43px;
}

.producers-form input[type="checkbox"] + label:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border: 2px solid #000000;
}

.producers-form input[type="checkbox"]:checked + label:before{
	background: url("img/spritesheet.png") no-repeat;
	background-position: -20px -2px;
}

.products-form input[type="radio"] {
	display: none;
}

.products-form input[type="radio"] + label {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	padding-left: 43px;
}

.products-form input[type="radio"] + label:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 2px solid #000000;
	border-radius: 25px;
}

.products-form input[type="radio"]:checked + label:before {
	background: url("img/spritesheet.png") no-repeat;
	background-position: 1px 1px;
}

.shop-column-right {
	padding-top: 18px;
}

.shop-column-right .shop-item {
	margin-right: -20px;
	margin-top: 20px;
	margin-bottom: 0px;
	width: 220px;
	height: 286px;
	background-color: #ffffff;
	box-shadow: 0px 0px 15px 0px rgba(00, 01, 01, 0.2);
}

.shop-item figcaption {
	margin-top: 10px;
	margin-left: 16px;
}

.shop-item-title {
	font-size: 14px;
	line-height: 18px;
}

.shop-item-comment {
	margin-top: -2px;
	text-transform: initial;
}

.shop-item table {
	margin-top: 8px;
	width: 186px;
	height: 46px;
	background: #000000;
	border-collapse: collapse;
}

.shop-item table tr {
	color: #ffffff;
}

.shop-item table td:nth-child(1) {
	padding-left: 30px;
	background: #e5e5e5;
	color: #000000;
}

.shop-item table td:nth-child(2) {
	padding-left: 20px;
}

.shop-item table td:nth-child(2):hover {
	background: #663d15;
	cursor: pointer;
}

.shop-column-right .shop-item:nth-child(1) {
	float: left;
}

.shop-column-right .shop-item:nth-child(2) {
	float: left;
}

.shop-column-right .shop-item:nth-child(3) {
	float: left;
}

.shop-column-right .shop-item:nth-child(4) {
	float: left;
}

.shop-column-right .shop-item:nth-child(5) {
	float: left;
}

.shop-column-right .shop-item:nth-child(6) {
	float: left;
}

.shop-column-right .shop-paginator {
	float: left;
	margin-top: 45px;
	margin-bottom: 45px;
	margin-left: 240px;
}

.shop-paginator a {
	margin-right: 5px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	width: 43px;
	height: 43px;
	color: #ffffff;
	background: #000000;
	text-decoration: none;
}

.shop-paginator a:hover {
	background: #663d15;
}

.shop-paginator .current {
	color: #000000;
	background: #ffffff;
}

.shop-paginator .current:hover {
	background: #ffffff;
}