body {
  min-width: 1280px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.main-header {
  position: relative;
  min-height: 564px;
  margin-bottom: 60px;
  background-image:
    url("../img/header-shape.png"),
    url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position:
    0 507px,
    0 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  background-color: #ffffff;
}

.main-navigation .logo {
  position: absolute;
  top: 0;
  left: 531px;
}

.main-navigation .site-navigation {
  display: flex;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation .site-navigation li:nth-child(1) {
  margin-left: 72px;
  margin-right: 147px;
}

.main-navigation .site-navigation li:nth-child(2) {
  margin-right: 388px;
}

.main-navigation .site-navigation li:nth-child(3) {
  margin-right: 165px;
}

.main-navigation .site-navigation a {
  line-height: 26px;
  font-weight: 700;
}

.main-navigation .site-navigation a:hover {
  color: #81b3d2;
}

.main-navigation .site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-page .benefits b {
}

.main-page .benefits .benefits-heading {
  display: block;
  width: 440px;
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.main-page .benefits .benefits-text {
  margin-bottom: 51px;
  text-align: center;
  line-height: 26px;
}

.benefits-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-list b {
  font-size: 21px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.benefits-list > li {
  display: flex;
}

.benefits-list li:nth-child(1) {
  order: 1;
}

.benefits-list li:nth-child(2) {
  order: 3;
}

.benefits-list li:nth-child(2) .benefits-item-description b {
  width: 152px;
}

.benefits-list li:nth-child(2) .benefits-item-description p {
  width: 304px;
}

.benefits-list li:nth-child(2) img {
  order: -1;
}

.benefits-list li:nth-child(3) {
  order: 4;
}

.benefits-list li:nth-child(4) {
  order: 5;
}

.benefits-list li:nth-child(5) {
  order: 6;
}

.benefits-list li:nth-child(6) {
  order: 2;
}

.benefits-list .benefits-item-description {
  width: 400px;
  min-height: 209px;
  padding-top: 47px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.benefits-list .benefits-item-description b {
  display: block;
  width: 122px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.benefits-list .benefits-item-description span {
  display: block;
  margin-bottom: 21px;
}

.benefits-list .benefits-item-description p {
  width: 280px;
  margin: 0 auto;
}

.benefits-inner-list ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-inner-list ul li {
  width: 400px;
  min-height: 169px;
  padding-top: 161px;
  text-align: center;
}

.benefits-inner-list ul li:nth-child(1) {
  background: url("../img/benefits-icon-1.png") no-repeat 162px 60px;
}

.benefits-inner-list ul li:nth-child(2) {
  background: url("../img/benefits-icon-2.png") no-repeat 158px 61px;
}

.benefits-inner-list ul li:nth-child(3) {
  background: url("../img/benefits-icon-3.png") no-repeat 168px 56px;
}

.benefits-inner-list ul li p {
  margin-top: 21px;
}
