.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-minus-click {
    width: 12px;
    height: 3px;
    background-position: -5px -5px;
}

.sprite-minus-hover {
    width: 12px;
    height: 3px;
    background-position: -27px -5px;
}

.sprite-minus-off {
    width: 12px;
    height: 3px;
    background-position: -49px -5px;
}

.sprite-plus-click {
    width: 11px;
    height: 11px;
    background-position: -71px -5px;
}

.sprite-plus-hover {
    width: 11px;
    height: 11px;
    background-position: -92px -5px;
}

.sprite-plus-off {
    width: 11px;
    height: 11px;
    background-position: -113px -5px;
}

.sprite-calendar-click {
    width: 21px;
    height: 22px;
    background-position: -134px -5px;
}

.sprite-calendar-hover {
    width: 21px;
    height: 22px;
    background-position: -165px -5px;
}

.sprite-calendar-off {
    width: 21px;
    height: 22px;
    background-position: -196px -5px;
}

.sprite-checkbox-off {
    width: 23px;
    height: 23px;
    background-position: -227px -5px;
}

.sprite-checkbox-off-blocked {
    width: 23px;
    height: 23px;
    background-position: -260px -5px;
}

.sprite-checkbox-on {
    width: 27px;
    height: 23px;
    background-position: -293px -5px;
}

.sprite-checkbox-on-blocked {
    width: 27px;
    height: 23px;
    background-position: -330px -5px;
}

.sprite-facebook {
    width: 12px;
    height: 22px;
    background-position: -367px -5px;
}

.sprite-facebook-click {
    width: 12px;
    height: 22px;
    background-position: -389px -5px;
}

.sprite-filter-button {
    width: 20px;
    height: 22px;
    background-position: -411px -5px;
}

.sprite-footer-logo-click {
    width: 115px;
    height: 41px;
    background-position: -441px -5px;
}

.sprite-footer-logo-hover {
    width: 115px;
    height: 41px;
    background-position: -566px -5px;
}

.sprite-footer-logo-off {
    width: 115px;
    height: 41px;
    background-position: -691px -5px;
}

.sprite-star {
    width: 18px;
    height: 17px;
    background-position: -816px -5px;
}

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -844px -5px;
}

.sprite-twitter-click {
    width: 17px;
    height: 15px;
    background-position: -871px -5px;
}

.sprite-up-click {
    width: 11px;
    height: 10px;
    background-position: -898px -5px;
}

.sprite-up-hover {
    width: 11px;
    height: 10px;
    background-position: -919px -5px;
}

.sprite-up-off {
    width: 11px;
    height: 10px;
    background-position: -940px -5px;
}

.sprite-youtube {
    width: 20px;
    height: 16px;
    background-position: -961px -5px;
}

.sprite-youtube-click {
    width: 20px;
    height: 16px;
    background-position: -991px -5px;
}
