body {
  position: relative;
  min-width: 1280px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.main-header {
  position: relative;
  min-height: 564px;
  margin-bottom: 60px;
  background-image:
    url("../img/header-shape.png"),
    url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position:
    0 507px,
    0 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-navigation {
  padding-left: 72px;
  padding-right: 72px;
  background-color: #ffffff;
}

.main-navigation .logo {
  position: absolute;
  top: 0;
  left: 531px;
}

.site-navigation {
  display: flex;
  align-items: center;
  height: 56px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation li:nth-child(2) {
  margin-left: 147px;
  margin-right: 388px;
}

.site-navigation li:nth-child(4) {
  margin-left: auto;
}

.site-navigation a {
  line-height: 26px;
  font-weight: 700;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.main-page .benefits-title {
  display: block;
  width: 440px;
  margin: 0 auto;
  margin-bottom: 27px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.main-page .benefits-text {
  margin-bottom: 51px;
  text-align: center;
  line-height: 26px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-list b {
  font-size: 21px;
}

.benefits-list > li {
  display: flex;
}

.benefits-list li:nth-child(3) .benefits-item-description b {
  width: 152px;
}

.benefits-list li:nth-child(3) .benefits-item-description p {
  width: 304px;
}

.benefits-list li:nth-child(3) img {
  order: -1;
}

.benefits-list .benefits-item-description {
  width: 400px;
  height: 209px;
  padding-top: 47px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.benefits-list .benefits-item-description b {
  display: block;
  width: 122px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.benefits-list .benefits-item-description span {
  display: block;
  margin-bottom: 21px;
}

.benefits-list .benefits-item-description p {
  width: 280px;
  margin: 0 auto;
}

.benefits-inner-list ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-inner-list ul li {
  width: 400px;
  height: 169px;
  padding-top: 161px;
  text-align: center;
}

.benefits-inner-list ul li:nth-child(1) {
  background: url("../img/benefits-icon-1.png") no-repeat 162px 60px;
}

.benefits-inner-list ul li:nth-child(2) {
  background: url("../img/benefits-icon-2.png") no-repeat 158px 61px;
}

.benefits-inner-list ul li:nth-child(3) {
  background: url("../img/benefits-icon-3.png") no-repeat 168px 56px;
}

.benefits-inner-list ul li p {
  margin-top: 21px;
}

.benefits-row-list {
  background-color: #eeeeee;
}

.benefits-row-list ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.benefits-row-list li {
  width: 400px;
  height: 209px;
  padding-top: 47px;
  text-align: center;
}

.benefits-row-list li:nth-child(1) b {
  width: 118px;
}

.benefits-row-list b {
  display: block;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.benefits-row-list span {
  display: block;
  margin-bottom: 21px;
}

.benefits-row-list li:nth-child(1) p {
  width: 210px;
  margin: 0 auto;
}

.benefits-row-list li:nth-child(2) p {
  width: 262px;
  margin: 0 auto;
}

.benefits-row-list li:nth-child(3) p {
  width: 260px;
  margin: 0 auto;
}

.search {
  position: relative;
}

.search-heading {
  height: 241px;
  padding-top: 50px;
  text-align: center;
}

.search-title {
  display: block;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
}

.search-text {
  margin-bottom: 47px;
  line-height: 24px;
}

.modal-search-button {
  width: 568px;
  height: 86px;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.modal-search-button:hover {
  cursor: pointer;
  background-color: #604e43;
}

.modal-search-button:active {
  background-color: #503e33;
}

.modal-search-button:active span {
  opacity: 0.3;
}

.search-form {
  display: none;
  position: absolute;
  top: 291px;
  left: 50%;
  width: 458px;
  height: 285px;
  margin-left: -284px;
  padding: 55px;
  font-weight: 700;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.search-form-show {
  display: block;
}

.search-form .dates-form {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 38px;
  margin: 0;
  padding: 0;
}

.search-form .dates-form:nth-child(1) {
  margin-bottom: 29px;
}

.search-form .dates-form:nth-child(2) {
  margin-bottom: 30px;
}

.search-form .dates-form input[type="text"] {
  width: 346px;
  padding: 9px 32px 9px 13px;
  font: inherit;
  background-color: #f2f2f2;
  background-image: url("../img/sprites/calendar-off.png");
  background-repeat: no-repeat;
  background-position: right 9px top 8px;
  border: none;
  box-sizing: border-box;
}

.search-form .dates-form input:invalid {
    box-shadow: none;
}

.search-form .dates-form input[type="text"]:hover {
  background-color: #ebebeb;
  background-image: url("../img/sprites/calendar-hover.png");
}

.search-form .dates-form input[type="text"]:focus {
  background-color: #ffffff;
  background-image: url("../img/sprites/calendar-click.png");
  outline: 2px solid #eeeeee;
}

.search-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font: inherit;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form ::-moz-placeholder { /* Firefox 19+ */
  font: inherit;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

:-ms-input-placeholder { /* IE 10+ */
  font: inherit;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form :-moz-placeholder { /* Firefox 18- */
  font: inherit;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form select {
  font: inherit;
  font-weight: 700;
}

.quantity-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.quantity-item {
  display: flex;
  height: 38px;
  margin: 0;
}

.quantity-item label {
  align-self: center;
}

.quantity-item:first-child label {
  margin-right: 41px;
}

.quantity-item:last-child label {
  margin-right: 27px;
}

.quantity-item input[type="number"] {
  width: 38px;
  font: inherit;
  text-align: center;
  background-color: #f2f2f2;
  border: 0;
}

.quantity-item input[type=number]::-webkit-inner-spin-button,
.quantity-item input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-item input[type=number] {
    -moz-appearance:textfield;
}

.quantity-item button {
  width: 38px;
  background-color: #f2f2f2;
  border: 0;
  cursor: pointer;
}

.quantity-item button:nth-child(2) {
  background-image: url("../img/sprites/-off.png");
  background-repeat: no-repeat;
  background-position: 13px 18px;
}

.quantity-item button:nth-child(2):hover {
  background-image: url("../img/sprites/-hover.png");
}

.quantity-item button:nth-child(2):active {
  background-image: url("../img/sprites/-click.png");
}

.quantity-item button:nth-child(4) {
  background-image: url("../img/sprites/+off.png");
  background-repeat: no-repeat;
  background-position: 15px 14px;
}

.quantity-item button:nth-child(4):hover {
  background-image: url("../img/sprites/+hover.png");
}

.quantity-item button:nth-child(4):active {
  background-image: url("../img/sprites/+click.png");
}

.search-form .find-button {
  width: 458px;
  height: 58px;
  margin: 0 auto;
  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  border: none;
  background-color: #81b3d2;
  color: #ffffff;
  cursor: pointer;
}

.search-form .find-button:hover {
  background-color: #669ec0;
}

.search-form .find-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.main-footer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 967px;
  height: 125px;
  padding-left: 132px;
  padding-right: 101px;
  background-color: #ffffff;
  opacity: 0.9;
  outline: 1px dotted red;
}

.main-footer .hashtag {
  font-size: 21px;
  font-weight: 700;
}
