@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?94604853');
  src: url('../font/symbols-nerds.eot?94604853#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?94604853') format('woff'),
       url('../font/symbols-nerds.ttf?94604853') format('truetype'),
       url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

/*index.html*/

body {
  margin: 0;
  min-width: 900px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #283136;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 880px;
}

.main-header {
  margin-bottom: 80px;
  padding-top: 27px;
  background-color: #eeeeee;
}

.upper-header {
  margin-bottom: 36px;
}

.upper-header .logo {
  float: left;
}

.upper-header .main-navigation {
  float: left;
  margin-top: 28px;
  margin-left: 180px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation .active a {
  position: relative;
}

.main-navigation .active a:hover {
  color: #000;
}

.main-navigation .active a:active {
  opacity: 1;
}

.main-navigation .active a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb565a;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  margin-right: 44px;
}

.main-navigation li:nth-child(4) {
  margin-right: 61px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation .icon-basket {
  padding-right: 5px;
}

.main-navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #f7898b;
}

.main-navigation a:active {
  color: #000;
  opacity: 0.3;
}

.slider {
  position: relative;
  width: 880px;
  height: 310px;
}

.slider input[type="radio"] {
  position: absolute;
  display: none;
}

.slider-switch {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-switch label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-switch label[for="btn-1"],
#btn-2:checked ~ .slider-switch label[for="btn-2"],
#btn-3:checked ~ .slider-switch label[for="btn-3"] {
    background:#c1c1c1;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.slide-text {
  width: 460px;
  padding-top: 44px;
}

.slide-text-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
}

.slides .btn {
  display: inline-block;
  padding: 10px 0;
  width: 240px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #fb565a;
  border-radius: 3px;
}

.slider .btn:hover {
  background-color: #d6494d;
}

.slider .btn:active {
  background-color: #b63538;
}

.slide:nth-child(1) {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(2) {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(3) {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.our-services {
  margin-bottom: 60px;
  padding-bottom: 82px;
}

.services-item {
  float: left;
  margin-right: 80px;
  width: 240px;
}

.services-item:last-child {
  position: relative;
}

.services-item:last-child::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -82px;
  height: 2px;
  width: 880px;
  background: #eeeeee;
}

.services-item:last-child {
  margin-right: 0;
}

.services-item .services-item-title {
  margin-top: 15px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-item p {
  margin: 10px 0;
}

.services-item .btn {
  display: inline-block;
  padding: 10px 0;
  width: 140px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #fb565a;
  border-radius: 3px;
}

.services-item:nth-child(1) .btn:hover {
  background: #d6494d;
}

.services-item:nth-child(1) .btn:active {
  background: #b63538;
}

.services-item:nth-child(2) .btn {
  background: #00ca74;
}

.services-item:nth-child(2) .btn:hover {
  background: #01a25e;
}

.services-item:nth-child(2) .btn:active {
  background: #009053;
}

.services-item:nth-child(3) .btn {
  background: #efc84a;
}

.services-item:nth-child(3) .btn:hover {
  background: #d6ae2c;
}

.services-item:nth-child(3) .btn:active {
  background: #c09b24;
}

.about-us {
  margin-bottom: 43px;
  padding-bottom: 78px;
}

.about-us .we-are {
  float: left;
  margin-bottom: 25px;
  width: 565px;
}

.we-are h2 {
  font-size: 36px;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 19px;
}

.we-are p {
  margin-bottom: 0;
}

.logo-since {
  float: left;
  margin-left: 75px;
  width: 240px;
  height: 135px;
}

.logo-since img {
  margin-left: 31px;
}

.logo-since p {
  position: relative;
  margin: 0;
  margin-top: 10px;
  padding-left: 78px;
  font-weight: bold;
}

.logo-since p:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 65px;
  height: 2px;
  background: #eeeeee;
}

.logo-since p:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 65px;
  height: 2px;
  background: #eeeeee;
}

.what-we-do {
  float: left;
  width: 435px;
}

.what-we-do h3 {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.what-we-do ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.what-we-do li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 37px;
}

.what-we-do li:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.what-we-do li:last-child {
  margin-bottom: 0;
}

.how-we-do {
  position: relative;
  float: right;
  width: 230px;
}

.how-we-do:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -78px;
  height: 2px;
  width: 880px;
  background: #eeeeee;
}

.how-we-do h3 {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.how-we-do ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.how-we-do li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 37px;
}

.how-we-do li:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 25px;
  height: 2px;
  background: #fb565a;
}

.partners {
  position: relative;
  margin-bottom: 85px;
  padding-bottom: 9px;
}

.partners:after {
  height: 2px;
  width: 880px;
  background: #eeeeee;
}

.partners a {
  display: block;
  float: left;
  margin-right: 120px;
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:nth-child(1) {
  margin-top: 24px;
  margin-left: 21px;
}

.partners a:nth-child(2) {
  margin-top: 16px;
}

.partners a:last-child {
  margin-right: 0;
}

.map {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.map .contact {
  content: "";
  position: absolute;
  top: 88px;
  left: 160px;
  padding: 25px 20px;
  background: #fff;
}

.map .contact-title {
  font-size: 16px;
  line-height: 30px;
}

.map p {
  font-size: 16px;
  line-height: 20px;
}

.contact .btn {
  display: inline-block;
  padding: 10px 0;
  width: 195px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: #fb565a;
  border-radius: 3px;
}

.contact .btn:hover {
  background: #d6494d;
}

.contact .btn:active {
  background: #b63538;
}

.map:after {
  content: "";
  position: absolute;
  top: 110px;;
  right: 70px;
  width: 280px;
  height: 220px;
  background-image: url("../img/contact-logo.png");
  background-repeat: no-repeat;
}

.main-footer {
  margin: 75px 0;
}

.social-left {
  float: left;
  margin-top: 10px;
}

.social-btn {
  display: inline-block;
  margin-right: 27px;
  width: 62px;
  height: 62px;
  vertical-align: middle;
  text-align: center;
  background: #e1e1e1;
  border-radius: 50%;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn:hover {
  background: #fb565a;
}

.social-btn:active {
  background: #d6494d;
}

.social-vk {
  font-size: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 1px -309px;
}

.social-vk:hover {
  font-size: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 1px -309px;
}

.social-fb {
  font-size: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 10px -102px;
}

.social-fb:hover {
  font-size: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 10px -102px;
}

.social-inst {
  font-size: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 6px -151px;
}

.social-inst:hover {
  font-size: 0;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: 6px -151px;
}

.social-right {
  float: left;
  margin-left: 70px;
}

.social-right-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
