@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?94604853');
  src: url('../font/symbols-nerds.eot?94604853#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?94604853') format('woff'),
       url('../font/symbols-nerds.ttf?94604853') format('truetype'),
       url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

/*index.html*/

body {
  margin: 0;
  min-width: 900px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #283136;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 880px;
  outline: 1px solid red;
}

.main-header {
  margin-top: 27px;
}

.upper-header {
  margin-bottom: 52px;
}

.upper-header .logo {
  float: left;
}

.upper-header .main-navigation {
  float: left;
  margin-top: 28px;
  margin-left: 180px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  margin-right: 44px;
}

.main-navigation li:nth-child(4) {
  margin-right: 61px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation .icon-basket {
  padding-right: 5px;
}

.main-navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.lower-header .slider-1-left {
  float: left;
}

.lower-header .slider-1-left h2 {
  margin-top: 25px;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.lower-header .slider-1-left p {
  margin-bottom: 29px;
}

.btn {
  display: inline-block;
  margin-bottom: 80px;
  padding: 12px 70px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #fb565a;
  border-radius: 3px;
}

.lower-header .slider-switch {
  float: left;
  margin-top: 196px;
  outline: 1px solid red;
}

.slider-switch input[type="radio"] {

}

.lower-header .slider-1-right {
  float: right;
}
