@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?94604853');
  src: url('../font/symbols-nerds.eot?94604853#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?94604853') format('woff'),
       url('../font/symbols-nerds.ttf?94604853') format('truetype'),
       url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?94604853#symbols-nerds') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */

/*index.html*/

body {
  margin: 0;
  min-width: 900px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #283136;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 880px;
  outline: 1px dotted red;
}

.main-header {
  padding-top: 27px;
  background-color: #eeeeee;
}

.upper-header {
  margin-bottom: 36px;
  outline: 1px dotted purple;
}

.upper-header .logo {
  float: left;
}

.upper-header .main-navigation {
  float: left;
  margin-top: 28px;
  margin-left: 180px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  margin-right: 44px;
}

.main-navigation li:nth-child(4) {
  margin-right: 61px;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation .icon-basket {
  padding-right: 5px;
}

.main-navigation a {
  font-weight: bold;
  font-size: 14px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.slider {
  position: relative;
  width: 880px;
  height: 310px;
}

.slider input[type="radio"] {
  position: absolute;
  display: none;
}

.slider-switch {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-switch label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-switch label[for="btn-1"],
#btn-2:checked ~ .slider-switch label[for="btn-2"],
#btn-3:checked ~ .slider-switch label[for="btn-3"] {
    background:#c1c1c1;
}

.slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.slide-text {
  width: 460px;
  padding-top: 44px;
}

.slide-text-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
}

.slides .btn {
  display: inline-block;
  padding: 10px 0;
  width: 240px;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #fb565a;
  border-radius: 3px;
}

.slider .btn:hover {
  background-color: #d6494d;
}

.slider .btn:active {
  background-color: #b63538;
}

.slide:nth-child(1) {
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(2) {
  background-image: url("../img/slider-2.png");
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide:nth-child(3) {
  background-image: url("../img/slider-3.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}
