body {
  min-width: 1200px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 1160px;
  outline: 1px dashed black;
}

.main-header .container {
  position: relative;
  padding-top: 40px;
}

.upper-header {
  background-color: #f7e296;
}

.upper-header .logo {
  position: absolute;
  top: 22px;
  left: 78px;
}
